<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Disease Prediction</title>
</head>
<body>
    <h1>Crop Disease Prediction</h1>
    <form id="upload-form">
        <input type="file" id="image" name="image" accept="image/*">
        <button type="submit">Predict</button>
    </form>
    <canvas id="uploaded-image" width="256" height="256"></canvas>
    <div id="similar-images"></div>

    <div id="result"></div>
    <div id="result_percentage"></div>

    <script>
        const form = document.getElementById('upload-form');
        const result = document.getElementById('result');
        const result_percentage = document.getElementById('result_percentage');
        const uploadedImageCanvas = document.getElementById('uploaded-image');
        const similarImagesDiv = document.getElementById('similar-images');
    
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const image = document.getElementById('image').files[0];
            const formData = new FormData();
            formData.append('image', image);
    
            // Display the uploaded image
            const ctx = uploadedImageCanvas.getContext('2d');
            const img = new Image();
            img.src = URL.createObjectURL(image);
            img.onload = () => {
                ctx.drawImage(img, 0, 0, 256, 256);
            };
    
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });
    
            const jsonResponse = await response.json();
            displayResult(jsonResponse.class, jsonResponse.confidence);
            displaySimilarImages(jsonResponse.similar_images);
        });
    
        function displayResult(predictedClass, confidence) {
            result.innerHTML = `<h2>Predicted Disease:</h2><p>${predictedClass}</p>`;
            result_percentage.innerHTML = `<h3>Confidence Percentage:</h3><p>${confidence}%</p>`;
        }
    
        function displaySimilarImages(imagePaths) {
            similarImagesDiv.innerHTML = '<h2>Similar Images:</h2>';
            imagePaths.forEach((imagePath) => {
                const img = document.createElement('img');
                img.src = '/images/' + imagePath;
                img.width = 256;
                img.height = 256;
                similarImagesDiv.appendChild(img);
            });
        }
    </script>    
            
    </body>
</html>        
